In [15]:
import numpy as np
import pandas as pd
import joblib

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
data = pd.read_csv("cardio-vascular-data.csv")
data.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [3]:
data['age'] = (data['age']/365.25).round(2)

In [4]:
X = data[data.columns[0:-1]]
X.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,50.36,2,168,62.0,110,80,1,1,0,0,1
1,55.38,1,156,85.0,140,90,3,1,0,0,1
2,51.63,1,165,64.0,130,70,3,1,0,0,0
3,48.25,2,169,82.0,150,100,1,1,0,0,1
4,47.84,1,156,56.0,100,60,1,1,0,0,0

In [5]:
y = data[data.columns[-1]]
y.head()

0    0
1    1
2    1
3    1
4    0
Name: cardio, dtype: int64

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [7]:
model = LogisticRegression(solver='liblinear', random_state=0)

In [8]:
model.fit(X_train,y_train)

LogisticRegression(random_state=0, solver='liblinear')

In [16]:
x_new = [[50,2,168,62,110,80,1,1,0,0,1]]
y_new = model.predict(X_test)
y_new

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [17]:
confusion_matrix(y_test,y_new)

array([[8124, 2415],
       [3437, 7024]], dtype=int64)